{{# partial "contenido" }}
    <style>
        .jumbotron {
            background-color: #46aadf;
            color: #fff;
            padding: 100px 25px;
            margin-bottom: 100px;
        }

        .container {
            padding: 10px 25px;
        }

        .row.mi-fila{
            padding: 100px;
        }

        .row.primer-fila {
            display: flex;
            align-items: center;
        }

        .form-group.form-indicador {
            margin-bottom: inherit;
        }

        .form-control.mi-control {
            height: 40px;
        }

        .well.mi-well {
            margin-bottom: inherit;
        }

        .clasificacion-input {
            font-size: 20px;
        }

    </style>



    <div class="jumbotron text-center">

        <h1>Consultar indicadores</h1>
        <p>Ponga a prueba a las empresas evaluandolas con sus indicadores </p>

    </div>

    <div class = "container">

        <div class="row mi-fila primer-fila">

            <div class="col-lg-6 text-left">


                <form class="form-group form-indicador" method="POST">
                    <label class="clasificacion-input" for="selector-indicador">Indicador</label>
                    <select class="form-control mi-control selector-indicador" name="nombre" id="selector-indicador" onchange="this.form.submit()">

                        {{#each indicador}}
                            <option value="{{nombre}}">{{nombre}}</option>
                        {{/each}}

                    </select>

                </form>



            </div>

            <div class="col-lg-6 text-center">

                <label class="clasificacion-input">Formula</label>

                <div class="well mi-well">

                    {{formula}}

                </div>

            </div>

        </div>

        <div class = "row mi-fila">

            <div class = "col-lg-6 text-left">

                <div class="form-group form-empresa">
                    <label class="clasificacion-input" for="selector-empresa">Empresa</label>

                    {{#if empresa}}

                        <select class="form-control mi-control selector-empresa" id="selector-empresa" name="nombre" onchange="this.form.submit()">

                            {{#each empresa}}
                                <option value="{{nombre}}">{{nombre}}</option>
                            {{/each}}

                        </select>

                    {{else}}

                        <select class="form-control mi-control selector-empresa" id="selector-empresa" disabled>

                        </select>

                    {{/if}}

                </div>

            </div>

            <div class = "col-lg-6 text-right">

                <div class="form-group form-periodo">
                    <label class="clasificacion-input" for="selector-periodo">Periodo</label>
                    {{#if periodo}}

                        <select class="form-control mi-control selector-periodo" id="selector-periodo" name="periodo" onchange="this.form.submit()">
                            {{#each periodo}}
                                <option value="{{anio}}">{{anio}}</option>
                            {{/each}}
                        </select>

                    {{else}}
                        <select class="form-control mi-control selector-periodo" id="selector-periodo" disabled>

                        </select>
                    {{/if}}

                </div>

            </div>

        </div>

        <div class = "row">

            <div class = "col-lg-12 resultado text-center">

                <p>Resultado</p>

                <div class="well">

                    {{resultado}}

                </div>

            </div>

        </div>

    </div>


{{/partial}}

{{> template.hbs }}